In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bangladesh_divisions_dataset.csv')
df

,Location,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(°C),Crop_Suitability,Season,Satellite_Observation_Date,Remarks
0,Sylhet,Loamy,62,Agricultural,72,28.6,Wheat,Monsoon,2024-09-24,Requires attention
1,Dhaka,Sandy,63,Unused,118,23.8,Maize,Autumn,2024-01-31,Moderate potential
2,Rangpur,Peaty,51,Agricultural,106,32.0,Maize,Autumn,2024-03-11,Requires attention
3,Khulna,Sandy,67,Barren,336,31.6,Wheat,Autumn,2024-09-29,Low potential
4,Rangpur,Peaty,63,Agricultural,237,20.1,Rice,Winter,2024-04-01,Moderate potential
...,...,...,...,...,...,...,...,...,...,...
1995,Barishal,Loamy,65,Unused,278,20.3,Spices,Summer,2024-02-12,Requires attention
1996,Chattogram,Clay,52,Residential,224,29.3,Jute,Winter,2024-08-20,Moderate potential
1997,Rangpur,Clay,97,Barren,84,25.6,Jute,Summer,2024-09-07,Requires attention
1998,Rajshahi,Sandy,85,Residential,209,23.5,Rice,Summer,2024-08-23,Moderate potential
1999,Sylhet,Sandy,73,Agricultural,134,20.2,Wheat,Winter,2024-11-01,Moderate potential

In [4]:
goup_by_frame = df.groupby('Location')

In [7]:
goup_by_frame.count()

,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(°C),Crop_Suitability,Season,Satellite_Observation_Date,Remarks
Location,,,,,,,,,
Barishal,253,253,253,253,253,253,253,253,253
Chattogram,235,235,235,235,235,235,235,235,235
Dhaka,227,227,227,227,227,227,227,227,227
Khulna,260,260,260,260,260,260,260,260,260
Mymensingh,245,245,245,245,245,245,245,245,245
Rajshahi,252,252,252,252,252,252,252,252,252
Rangpur,265,265,265,265,265,265,265,265,265
Sylhet,263,263,263,263,263,263,263,263,263

In [8]:
goup_by_frame.min()

,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(°C),Crop_Suitability,Season,Satellite_Observation_Date,Remarks
Location,,,,,,,,,
Barishal,Clay,40,Agricultural,50,20.0,Jute,Autumn,2024-01-01,High potential
Chattogram,Clay,40,Agricultural,50,20.1,Jute,Autumn,2024-01-01,High potential
Dhaka,Clay,40,Agricultural,51,20.1,Jute,Autumn,2024-01-05,High potential
Khulna,Clay,40,Agricultural,50,20.1,Jute,Autumn,2024-01-03,High potential
Mymensingh,Clay,40,Agricultural,50,20.0,Jute,Autumn,2024-01-01,High potential
Rajshahi,Clay,40,Agricultural,52,20.0,Jute,Autumn,2024-01-01,High potential
Rangpur,Clay,40,Agricultural,50,20.1,Jute,Autumn,2024-01-02,High potential
Sylhet,Clay,40,Agricultural,50,20.0,Jute,Autumn,2024-01-02,High potential

In [9]:
goup_by_frame.max()

,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(°C),Crop_Suitability,Season,Satellite_Observation_Date,Remarks
Location,,,,,,,,,
Barishal,Silt,100,Unused,397,34.9,Wheat,Winter,2024-12-31,Requires attention
Chattogram,Silt,100,Unused,399,35.0,Wheat,Winter,2024-12-30,Requires attention
Dhaka,Silt,100,Unused,400,34.9,Wheat,Winter,2024-12-31,Requires attention
Khulna,Silt,100,Unused,399,35.0,Wheat,Winter,2024-12-31,Requires attention
Mymensingh,Silt,100,Unused,400,34.9,Wheat,Winter,2024-12-31,Requires attention
Rajshahi,Silt,100,Unused,392,35.0,Wheat,Winter,2024-12-31,Requires attention
Rangpur,Silt,100,Unused,400,35.0,Wheat,Winter,2024-12-29,Requires attention
Sylhet,Silt,100,Unused,399,34.9,Wheat,Winter,2024-12-28,Requires attention

In [14]:
goup_by_frame['Temperature(°C)'].mean()

Location
Barishal      27.353755
Chattogram    27.239574
Dhaka         27.675330
Khulna        27.406923
Mymensingh    27.095102
Rajshahi      27.382937
Rangpur       27.184528
Sylhet        27.330418
Name: Temperature(°C), dtype: float64

In [19]:
df.groupby('Land_Use_Type').agg({'Temperature(°C)':['sum','max','min','mean']})

              Temperature(°C)
                          sum   max   min       mean
Land_Use_Type
Agricultural          13271.6  35.0  20.0  27.477433
Barren                13702.4  34.9  20.0  27.295618
Residential           13012.8  35.0  20.0  27.280503
Unused                14673.7  35.0  20.0  27.274535

In [20]:
df.groupby('Location').describe()

           Fertility_Index                                                 \
                     count       mean        std   min    25%   50%   75%
Location
Barishal             253.0  70.434783  18.088865  40.0  55.00  71.0  86.0
Chattogram           235.0  68.651064  17.775594  40.0  52.00  68.0  84.0
Dhaka                227.0  68.427313  17.253645  40.0  55.00  66.0  83.0
Khulna               260.0  71.123077  17.947807  40.0  54.75  71.5  88.0
Mymensingh           245.0  70.151020  18.084435  40.0  54.00  69.0  87.0
Rajshahi             252.0  71.003968  18.712226  40.0  55.00  71.0  89.0
Rangpur              265.0  70.524528  17.985273  40.0  55.00  69.0  87.0
Sylhet               263.0  70.197719  17.921768  40.0  54.50  71.0  86.0

                  Average_Rainfall(mm)              ...                \
              max                count        mean  ...    75%    max
Location                                            ...
Barishal    100.0                253.0  227.241107  ...  300.0  397.0
Chattogram  100.0                235.0  219.787234  ...  304.0  399.0
Dhaka       100.0                227.0  223.052863  ...  317.5  400.0
Khulna      100.0                260.0  222.953846  ...  319.0  399.0
Mymensingh  100.0                245.0  225.171429  ...  309.0  400.0
Rajshahi    100.0                252.0  224.059524  ...  306.5  392.0
Rangpur     100.0                265.0  222.188679  ...  307.0  400.0
Sylhet      100.0                263.0  220.604563  ...  294.5  399.0

           Temperature(°C)                                                   \
                     count       mean       std   min     25%    50%    75%
Location
Barishal             253.0  27.353755  4.232025  20.0  23.600  27.10  30.70
Chattogram           235.0  27.239574  4.329783  20.1  23.350  27.20  30.85
Dhaka                227.0  27.675330  4.513687  20.1  23.600  27.80  31.65
Khulna               260.0  27.406923  4.483951  20.1  23.175  27.55  31.20
Mymensingh           245.0  27.095102  4.121582  20.0  23.400  27.00  30.80
Rajshahi             252.0  27.382937  4.284214  20.0  23.500  27.55  31.00
Rangpur              265.0  27.184528  4.257003  20.1  23.600  26.80  30.70
Sylhet               263.0  27.330418  4.529596  20.0  23.200  27.50  31.40


             max
Location
Barishal    34.9
Chattogram  35.0
Dhaka       34.9
Khulna      35.0
Mymensingh  34.9
Rajshahi    35.0
Rangpur     35.0
Sylhet      34.9

[8 rows x 24 columns]